@-webkit-keyframes slideLeftDelay {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideLeftDelay {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideRightDelay {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  80% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideRightDelay {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  80% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes jump {
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jump {
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes contactShow {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.4);
  }
}

@keyframes contactShow {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.4);
  }
}

@-webkit-keyframes push {
  0% {
    font-size: 12px;
  }
  50% {
    font-size: 15px;
  }
  100% {
    font-size: 12px;
  }
}

@keyframes push {
  0% {
    font-size: 12px;
  }
  50% {
    font-size: 15px;
  }
  100% {
    font-size: 12px;
  }
}

@-webkit-keyframes pushImg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pushImg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes inStand {
  0%, 30% {
    opacity: 0;
  }
  80%, 100% {
    opacity: 1;
  }
}

@keyframes inStand {
  0%, 30% {
    opacity: 0;
  }
  80%, 100% {
    opacity: 1;
  }
}

@-webkit-keyframes inPrem {
  0%, 10% {
    opacity: 0;
  }
  60%, 100% {
    opacity: 1;
  }
}

@keyframes inPrem {
  0%, 10% {
    opacity: 0;
  }
  60%, 100% {
    opacity: 1;
  }
}

@-webkit-keyframes inPro {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes inPro {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes faqSlideImg {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes faqSlideImg {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes faqSlideCont {
  0%, 30% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes faqSlideCont {
  0%, 30% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes chatScaleShow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes chatScaleShow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes chatScaleHide {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes chatScaleHide {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes slideFromRight {
  0% {
    -webkit-transform: translateX(130%);
            transform: translateX(130%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    -webkit-transform: translateX(130%);
            transform: translateX(130%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideToRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(130%);
            transform: translateX(130%);
    opacity: 0;
  }
}

@keyframes slideToRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(130%);
            transform: translateX(130%);
    opacity: 0;
  }
}

@-webkit-keyframes slideFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideToLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideToLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
}
/*# sourceMappingURL=animation.css.map */